*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Caveat';
    font-size: 22px;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 16px;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner-header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 50;
}

.logo-container h1 span {
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
}

#footer {
    background-color: #101010;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home-div {
    text-align: center;
    width: 100%;
}

.main-content {
    text-align: center;
    width: 100%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

img {
    border: 2px solid #101010;
    box-shadow: 4px 4px black;
}

iframe {
    border: 2px solid #101010;
    box-shadow: 4px 4px black;
}

.personal-hobbies {
    text-align: center;
}

.h3{
    text-align: center;
}
.bio-ol {
    text-align: center;
}