*{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    text-decoration: underline;
    display: flex;
}

img {
    border: 3px solid blue;
}

#media{
    justify-content: center;
    align-items: center;

}

#eldenring{
    justify-content: center;
    border: 2px solid blue;
    box-shadow: 10px 10px;
    padding: 10px;
}

.header a {
    /* display: flex;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    align-items: center; */
    padding: 30px;
    align-items:center;
    text-align: center;
    background: blue;
    color: white;
    font-size: 30px;
    box-shadow: 10px 10px black;

}

#bio-content {
    display: flex;
    flex-direction: column;
}